h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  ;
  background-color: #4267B2;
  color: white;
  font: normal 16px Arial, sans-serif;
}

img {
  height: 100%;
  width: 100%;
}

i {
  text-decoration: none;
  color: #4267B2;
  font-size: 200px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

.app-icons:hover {
  color: #365899;
}

#header-container {
  margin-bottom: auto;
  background-color: cornflowerblue;
  opacity: .95;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin-top: 0;
  z-index: 5;
}

#slogan {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
}

#logo-flexbox {
  position: relative;
  margin-top: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
}


#truck-band-image {
  border: 10px solid cornflowerblue;
  border-radius: 1%;
}

#truck-band-image img {
  filter: grayscale(1);
}

#logo-img-container {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 40px;
}

#logo-img-container img {
  border-radius: 50%;
  box-shadow: 3px 7px 17px cornflowerblue;
}

#quote-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30px;
}



.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

#quote-container span {
  font-size: 60px;
}

#content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 25px 0px;
}

.content-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.tip-img-container {
  width: 250px;
  height: auto;
}

.social-icon-container a {
  width: 250px;
  height: 250px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  text-decoration: none;
}

.link-button-container {
  display: flex;
  justify-content: center;
  gap: 85px;
  flex-wrap: wrap;
  max-width: 919.5px;
}

#back-to-top {
  /* display: none; */
  position: fixed;
  bottom: 20px;
  /* Distance from the bottom of the screen */
  right: 20px;
  /* Distance from the right of the screen */
  width: 50px;
  height: 50px;
  background-color: #4267B2;
  /* Button background color */
  color: white;
  /* Button text color */
  border: none;
  border-radius: 50%;
  /* Make it circular */
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* Add a shadow for better visibility */
  z-index: 1000;
  /* Ensure it appears above other elements */
}

#back-to-top:hover {
  background-color: #365899;
  /* Change color on hover */
}

@media (max-width: 1290px) {
  .link-button-container {
    flex-direction: column;
  }

  #back-to-top {
    display: block;
  }
}

@media (max-width: 768px) {
  #content-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 507px) {
  #header-one-bluesntrouble {
    font-size: 30px;
  }
}

@media (max-width: 414px) {
  #joshua-text {
    font-size: 20px;
  }

  #header-one-bluesntrouble,
  #quote-container span {
    font-size: 25px;
  }

  #logo-img-container {
    width: 100px;
    height: 100px;
    top: 25px;
  }

  #slogan {
    margin: 3px;
  }

  #logo-flexbox {
    margin-top: 6rem;
    ;
  }
}

/* hide venmo temporarily */

#venmo-link {
  display: none;
}