img {
  height: 100%;
  width: 100%;
}

i {
  text-decoration: none;
  color: #4267B2; /* Facebook blue */
  font-size: 200px;;
  margin-right: 10px;
}

.app-icons:hover {
  color: #365899;
}

#header-container {
  text-align: center;
}

#logo-flexbox {
  width: 100%;
  display: flex;
  justify-content: center;
}

#logo-img-container {
  width: 250px;
  height: 250px;
}

#logo-img-container img {
  border-radius: 50%;
}

#quote-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#content-container {width: 100%;}

.link-container {
  width: 50%;
}

#quote-container span {font-size: 25px;}

#content-container {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.content-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.tip-img-container {
  width: 250px;
  height: auto;
}

.link-button-container {
  display: flex;
  justify-content: center;
  gap: 200px;
}

